<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<meta charset="utf-8">
<title>Menu Principal</title>
</head>

<body> 
	<body background="imagen3.jpg">

<div style="background-color:#7B9CF6"><h1 aling="center" class="Menu-Principal">MENU PRINCIPAL</h1></div>
	
<a href="/vista_turnos" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Turnos</a>
<a href="/vista_pacientes" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Pacientes</a>
<a href="/vista_pedidos" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Pedidos</a>
</body></body>
</html>
